In [4]:
# Dependencies
import pandas as pd

In [8]:
# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]
bootcamp_unis_ps = pd.Series(bootcamp_unis)
bootcamp_unis_ps

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [14]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Redemption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]
movies_disct_df = pd.DataFrame(movies_dicts)
movies_disct_df

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [16]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.
#  Then, convert the dictionary of lists into a DataFrame. 
movies_dicts2 = {"Title": ["The Godfather","The Shawshank Redemption","Pulp Fiction", "The Lord of the Rings: The Return of the King"],
                "Year Released": [1972,1994,1994,2003]}

movie_dict_df2 = pd.DataFrame(movies_dicts2)
movie_dict_df2

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [18]:
# Create a DataFrame using a dictionary of lists

test_dict={"Frame":["Onrate","Classical","Modern","Wood","Crdboard"],
          "Price":[15.0,12.5,10,5,1.0],
          "Sales":[100,200,150,300,"N/A"]}
test_dict_df=pd.DataFrame(test_dict)
test_dict_df

       Frame  Price Sales
0     Onrate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4   Crdboard    1.0   N/A